<h1>Burger App</h1>



<div class="newBurgerField">
   <label for="Name">Name: </label>
   <input id="burgerName" type="text" class="form-control" name="name">
   <button class="create">Create A Burger!</button>
</div>

<div class="burgerList">
   <h3>Click Me to Devour!</h3>
</div>
   
<div class="devouredBurgerList">
   <h3>I Ate These!</h3>
</div>




