<header><h1>Devour A Burger!</h1></header>



<div class="newBurgerField">
   <p>Create Your Own Burger</p>
   <label for="Name">Name: </label>
   <input id="burgerName" type="text" class="form-control" name="name">
   <button class="create">Create It!</button>
</div>

<div class="openBL">
   <p>Click Me to Devour!</p>
   <div class="burgerList"></div>
</div>
   
<div class="openDBL">
   <p>I Ate These:</p>
   <div class="devouredBurgerList"></div>
</div>




