body {
   background: rgb(47, 255, 47);
}

header {
   text-align: center;
   font-family: 'Permanent Marker', cursive;
   font-size: 65px;
   padding: 30px;
}


.newBurgerField {
   font-family: 'Permanent Marker', cursive;
   font-size: 32px;
   text-align: center;
   padding-top: 15px;
   padding-bottom: 2px;
}

#burgerName {
   height: 25px;
   length: 100px;
}

.openBL, 
.openBDL {
   border: 1px black;
   padding: 36px;
   font-size: 24px;
}

.burgerdiv {
   display: inline-block;
   
}

#burgerBtn {
   margin: auto;
   float: center;
}

.devouredBurgerList,
.burgerList {
   padding: 30px;
   display: inline-block;
   font-family: 'Permanent Marker', cursive;

}

p {
   font-family: 'Permanent Marker', cursive;
   font-size: 36px;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}